<%- include('partials/header') -%>

    <div class="container mt-5 w-100">

        <h2 class="mb-4">Search Employee</h2>

        <form action="/employee" method="GET">
            <input type="text" name="name" class="form-control" placeholder="Employee Name">

            <button type="submit" class="btn btn-danger btn-block mt-3">Search in Database</button>

        </form>


        <% if(employee) { %>
            <h4 class="text-danger my-4">Search Results: </h4>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>GENDER</th>
                        <th>DOB </th>
                        <th>Qualification</th>
                        <th>DOJ</th>
                        <th>DEPARTMENT</th>
                        <th>EXPERIENCE(YEARS)</th>
                        <th>Designation</th>


                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <%= employee.name %>
                        </td>
                        <td>
                            <%= employee.emp %>
                        </td>
                        <td>
                            <%= employee.gender %>
                        </td>
                        <td>
                            <%= employee.dob %>
                        </td>
                        <td>
                            <%= employee.highest_qualification %>
                        </td>
                        <td>
                            <%= employee.doj %>
                        </td>
                        <td>
                            <%= employee.department %>
                        </td>
                        <td>
                            <%= employee.total_experience %>
                        </td>
                        <td>
                            <%= employee.designation %>
                        </td>

                    </tr>

                </tbody>
            </table>
            <% } else if(employee !='' ){ %>

                <div class="alert alert-danger mt-4">Employee does not exist with this name.</div>

                <% } %>

    </div>

    <%- include('partials/footer') -%>